<ion-view view-title="Explore">

  <ion-content class="padding">
  <div id="grid">
		<img src=".\img\cake.png" ng-click="go(1)">
		<img src=".\img\piano.jpg">
		<img src=".\img\car.JPG" >
		<img src=".\img\shoe.JPG">
		<img src=".\img\lamp.jpg">
		<img src=".\img\camera.jpg">
		<img src=".\img\handbag.jpg">
		<img src=".\img\coffe.jpg" >
				<img src=".\img\cake.png" ng-click="go(1)">
		<img src=".\img\piano.jpg">
		<img src=".\img\car.JPG" >
		<img src=".\img\shoe.JPG">
		<img src=".\img\lamp.jpg">
		<img src=".\img\camera.jpg">
		<img src=".\img\handbag.jpg">
		<img src=".\img\coffe.jpg" >		<img src=".\img\cake.png" ng-click="go(1)">
		<img src=".\img\piano.jpg">
		<img src=".\img\car.JPG" >
		<img src=".\img\shoe.JPG">
		<img src=".\img\lamp.jpg">
		<img src=".\img\camera.jpg">
		<img src=".\img\handbag.jpg">
		<img src=".\img\coffe.jpg" >
	</div>

  </ion-content>
</ion-view>
